[Unit]
Description=Robbiecon's distributed currency daemon
After=network.target

[Service]
User=robbiecon
Group=robbiecon

Type=forking
PIDFile=/var/lib/robbiecond/robbiecond.pid
ExecStart=/usr/bin/robbiecond -daemon -pid=/var/lib/robbiecond/robbiecond.pid \
-conf=/etc/robbiecon/robbiecon.conf -datadir=/var/lib/robbiecond -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
